.react-clock__face{
  border: 1px solid white;
}

#root > div > div > div.sc-cZMNgc.kPrSHB > div.sc-jUosCB.gJUKFT > div.sc-clIzBv.gFqpfx > div.sc-dvQaRk.fgscfe > div.sc-AjmGg.iBiSWy > time > div.react-clock__face {
  width: 130px;
  height: 130px;
  border: 1px solid white;
}

#root > div > div > div.sc-cZMNgc.kPrSHB > div.sc-jUosCB.gJUKFT > div.sc-clIzBv.gFqpfx > div.sc-dvQaRk.fgscfe > div.sc-AjmGg.iBiSWy > time {
  width: 130px !important;
  height: 130px !important;
}

@media (min-height: 950px){
  #root > div > div > div.sc-cZMNgc.kPrSHB > div.sc-jUosCB.gJUKFT > div.sc-clIzBv.gFqpfx > div.sc-dvQaRk.fgscfe > div.sc-AjmGg.iBiSWy > time > div.react-clock__face {
    width: 160px;
    height: 160px;
  }
  
  #root > div > div > div.sc-cZMNgc.kPrSHB > div.sc-jUosCB.gJUKFT > div.sc-clIzBv.gFqpfx > div.sc-dvQaRk.fgscfe > div.sc-AjmGg.iBiSWy > time {
    width: 160px !important;
    height: 160px !important;
  }
}

@media (min-height: 1080px){
  #root > div > div > div.sc-cZMNgc.kPrSHB > div.sc-jUosCB.gJUKFT > div.sc-clIzBv.gFqpfx > div.sc-dvQaRk.fgscfe > div.sc-AjmGg.iBiSWy > time > div.react-clock__face {
    width: 180px;
    height: 180px;
  }
  
  #root > div > div > div.sc-cZMNgc.kPrSHB > div.sc-jUosCB.gJUKFT > div.sc-clIzBv.gFqpfx > div.sc-dvQaRk.fgscfe > div.sc-AjmGg.iBiSWy > time {
    width: 180px !important;
    height: 180px !important;
  }
}

@media (max-width: 1350px){
  #root > div > div > div.sc-cZMNgc.kPrSHB > div.sc-jUosCB.gJUKFT > div.sc-clIzBv.gFqpfx > div.sc-dvQaRk.fgscfe > div.sc-AjmGg.iBiSWy > time > div.react-clock__face {
    width: 130px;
    height: 130px;
  }
  
  #root > div > div > div.sc-cZMNgc.kPrSHB > div.sc-jUosCB.gJUKFT > div.sc-clIzBv.gFqpfx > div.sc-dvQaRk.fgscfe > div.sc-AjmGg.iBiSWy > time {
    width: 130px !important;
    height: 130px !important;
  }
}

.react-clock__mark__body {
  background-color: white;
}

.react-clock__hour-hand__body{
  background-color: white;
}

.react-clock__minute-hand__body{
  background-color: white;
}

.react-clock__second-hand__body{
  background-color: white;
}